PORT=3001
SUPABASE_URL=https://efbjqqssnnrlerqrcryh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmYmpxcXNzbm5ybGVycXJjcnloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MzY1OTUsImV4cCI6MjA5MTIxMjU5NX0.HNfe1T4L1WijchgBMR6ibXYY-zg2JbbYmtQYA2KRn3A
WHATSAPP_TARGET_NUMBER=+919500803720
